<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cache-control" content="no-cache" />
    <title>Chatzilla</title>
</head>
<body>
    <header>
        <h1>Welcome to Chatzilla</h1>
    </header>
    <footer></footer>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="static/socket.io.js"></script>
    <script>
       $(function(){
    	console.log("Welcome to Chatzilla");
    	var socket = io.connect('/vote');
    	socket.on('connect', function () {
        alert("You are connected to the chat server");
    	});
    	
    	socket.on('vote', voteRecived);
	});
	
	function voteRecived(vote)
	{
	alert(JSON.stringify(vote));
	}

    </script>
</body>
</html>
