<!DOCTYPE html>
<html>
<head>

    <title>Chatzilla</title>
     <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="static/raphael-min.js" ></script>
	<script src="static/g.raphael-min.js" ></script>
	<script src="static/g.pie-min.js" ></script>
	<script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
  	<script type="text/javascript" src="static/Graph.js"></script>
</head>
<body>
<h1>Text your favourite game to 01724 411043</h1>
</body>
</html>
